.form-card {
    padding: 20px;
    margin: 10px 0;
  }
  
  .form-title {
    width: 100%;
  }
  
  .form-description {
    width: 100%;
  }
  
  .form-field-card {
    margin: 10px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .left-action-container button, .right-action-container button {
    margin-right: 10px;
  }
  


  .success-snackbar {
    background-color: #4caf50; // Green background for success
    color: white;
    font-size: 16px;
    text-align: center;
  }
  